@font-face {
    font-family: Roboto-Light;
    src: url("../fonts/Roboto-Light.ttf")
}
@font-face {
    font-family: Roboto-Medium;
    src: url("../fonts/Roboto-Medium.ttf")
}
@font-face {
    font-family: Roboto-Black;
    src: url("../fonts/Roboto-Black.ttf")
}
*{
	font-family: Roboto-Medium;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Roboto-Light;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
#owl-demo {
    height: 520px;
    overflow: hidden;
}
.owl-controls {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.navbar-default {
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color:transparent;
    border:none;
    min-height: 80px;
}
.navbar-default>div {
    background-color: rgba(255, 255, 255, 0.60);
}
.navbar-default .navbar-nav>li>a {
    line-height: 50px;
    color:black;
    font-family: Roboto-Light;
    font-size: 18px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.navbar-default .navbar-nav>li>a:hover {
    color:#ff0000;
}
.navbar-brand {
    overflow: hidden;
    height: 80px;
}
.owl-prev{
	position: absolute;
	top: 50%;
	left: 50px;
	margin-top: -270px!important;
}
.owl-next {
	position: absolute;
	top: 50%;
	right: 50px;
	margin-top: -270px!important;
}
.owl-theme .owl-controls .owl-buttons div {
    padding: 10px 5px;
    background-color: rgba(255, 255, 255, 0.60);
    border-radius: 0px;
}
.slide-caption_1 {
    position: absolute;
    top: 210px;
    left: 0px;
    right: 0px;
    padding: 0px 200px;
    color:black;
    text-align: center;
    font-family: Roboto-Medium;
    font-size: 24px;
    text-transform: uppercase;
}
.slide-caption_1>span{
    font-size: 32px;
    font-family: Roboto-Black;
}
.slide-caption_2 {
    position: absolute;
    top: 210px;
    left: 0px;
    right: 0px;
    padding: 0px 600px 0px 150px;
    color:white;
    text-align: center;
    font-family: Roboto-Medium;
    font-size: 24px;
    text-transform: uppercase;
    color: black;
}
.slide-caption_3 {
    position: absolute;
    top: 210px;
    left: 0px;
    right: 0px;
    padding: 0px 200px 0px 500px;
    color:white;
    text-align: center;
    font-family: Roboto-Medium;
    font-size: 24px;
    text-transform: uppercase;
    color: black
}
section {
    padding: 20px 0px;
}
section h2 {
    font-size: 18px;
    line-height: 18px;
    font-family: Roboto-Black;
    color:#0d3b76;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}
section h2:before {
    content: "";
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: red;
    display: inline-block;
    margin: 0px 5px;
}
.center-md {
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-bottom: 40px;
}
#services h3{
    font-size: 14px;
    line-height: 18px;
    font-family: Roboto-Black;
    text-transform: uppercase;
}
#services h3 img{
    margin: -3px 10px 0px 0px;
}
#services li {
    font-family: Roboto-Light;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
}
.vbtn {
    margin-top: 5px;
	margin-bottom: 5px;
    color: #FFF;
    background-color: #337AB7;
    display: inline-block;
    padding: 8px 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
    border:none;
}
.vbtn:hover {
    color: #fff;
    background-color: red;
    text-decoration: none;
}
.chek-in img{
    height: 20px;
    margin-top: -5px;
}
.chek-in {
    font-family: Roboto-Light;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
}
.repeat {
    font-family: Roboto-Medium;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 0px;
    background: url(../images/trees.svg);
    background-repeat: repeat-x;
    margin-bottom: 10px;
}
.contacts {
    margin-top: 40px;
}
.contacts img{
    height: 20px;
    width: 27px;
    margin-right: 10px;
}
.contacts li{
    line-height: 30px;
    margin-bottom: 20px;
}
.contacts .vbtn{
    margin-left: 37px;
}
.owl-item > div {
    text-align: center;
}
#clients {
    background-color: #cfcfcf;
    box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.49);
}
#clients h2{
    background-color: rgba(255, 255, 255, 0.6);
}
#owl-demo_1 .owl-prev{
    left: 0px;
    margin-top: -150px!important;
}
#owl-demo_1 .owl-next{
    right: 0px;
    margin-top: -150px!important;
}
#owl-demo_1 .owl-controls{
    position: relative;
}
#owl-demo_1 a {
    overflow: hidden;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 5px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
#owl-demo_1 a:hover {
    margin-top: 3px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#certificates {
    background-image: url(../images/certificates.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#certificates h2{
    background-color: rgba(255, 255, 255, 0.6);
}
#owl-demo_2 .item{
  margin: 10px;
}
#owl-demo_2 img{
    max-width: 100%;
    height: auto;
}
.modal-body {
    padding: 0px 15px;
}
@media (max-width: 1200px) {
    .slide-caption_1 {
        padding: 0px 100px;
    }
        .slide-caption_2 {
        padding: 0px 300px 0px 100px;
    }
        .slide-caption_3 {
        padding: 0px 100px 0px 300px;
    }
}

@media (max-width: 800px) {
    #owl-demo .item img{
        height: 520px;
        width: auto;
    }
        .slide-caption_1 {
        padding: 0px 100px;
    }
        .slide-caption_2 {
        padding: 0px 200px 0px 100px;
    }
        .slide-caption_3 {
        padding: 0px 100px 0px 200px;
    }
    .contacts li {
        display: inline-block;
        padding: 0px 10px;
    }
}
@media (max-width: 500px) {
    .navbar-brand {
        height: 40px;
        padding: 4px;
    }
    .navbar-brand>img {
        height: 100%;
    }
    .navbar-default {
        height: 40px;
    }
    #owl-demo .owl-prev{
        display: none;
        left: 5px;
    }
    #owl-demo .owl-next {
        display: none;
        right: 5px;
    }
    .slide-caption_1 {
        padding: 0px 10px;
    }
    .slide-caption_2 {
        padding: 0px 10px 0px 10px;
    }
    .slide-caption_3 {
        padding: 0px 10px 0px 10px;
    }
}
textarea {
    resize: none;
}
.quality {
    float: right;
    margin-top: -5px;
}
.qualityp {
    line-height: 36px;
}