* {
    font-family: 'Roboto', sans-serif;
}
#intro {
    background-repeat: no-repeat;
    background: #000 url(../images/hero.png);
    background-position: center;
    background-size: cover;
    padding-top: 20px;
    margin-top: 49px;
}

#intro .container {
    margin-top: 50px;
}

#intro h1 {
    font-size: 90px;
    font-weight: 400;
    color: white;
    margin-bottom: 0px;
}

#intro p.subslogan {
    font-size: 30px;
    font-weight: 300;
    color:white;
    margin-bottom: 14px;
}

.navbar-default {
    background-color:white;
}

.navbar-nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: none;
}

.navbar-default .navbar-collapse {
    text-align: center;
}

.navbar-nav a {
    font-weight: 300;
    font-size: 18px;
}

@media (min-width: 768px) {
    .navbar-nav>li {
        float: none;
        display: inline-block;
    }
}

.conv-btn {
    background-color: #ffb515;
    padding: 8px 19px 9px!important;
    -webkit-appearance: none;
    display: inline-block;
    position: relative;
    overflow: visible;
    width: auto;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    color: #fff!important;
    font-weight: bold!important;
    line-height: 1;
    text-decoration: none;
    border-radius: 5px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset !important;
}

.conv-btn:hover {
    background-color: #fc9200!important;
    text-decoration: none;
}

.conv-btn-big {
    padding: 12px 30px 14px!important;
    border-bottom: 2px solid rgba(0,0,0,0.25);
    font-size: 22px;
}

.img-bordered {
    padding: 5px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.about-section {
    padding-top: 100px;
}

.time{
	display: block;
    margin: 0 auto;
    
    position: relative;
    text-align: center;
    
}

.time *{vertical-align: top;}

.time ins,
.time .clock{
	position: relative;
	top: 10px;
	width: 40px;
	height: 55px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	background: transparent url(../i/sprites.png) no-repeat -260px -154px;
}

.time .clock{margin-right: 7px;}

.time ins{width: 10px;}

.time ins{background-position: -300px -154px;}

.time .etitle{
	position: absolute;
	width: 110px;
	text-align: center;
	left: 50%;
	margin-left: -47px;
	top: 55px;
	line-height: 30px;
    color: white;
}

.etitle-1{font-size: 1.6em;}

.etitle-2{
	font-size: 1.37em;
	padding-top: .1em;
}

.etitle-3{
	font-size: 1.12em;
	padding-top: .2em;
}

.etitle-4{
	font-size: .87em;
	padding-top: .3em;
}

.c-block{
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0 18px 0 3px;
	padding: 4px 0 40px 3px;
	position: relative;
	background: transparent url(../i/sprites.png) no-repeat -260px 0;
}

.c-block:before{
	content: '';
	position: absolute;
	left: 100%;
	top: 0;
	width: 31px;
	background: transparent url(../i/sprites.png) no-repeat 100% -77px;
	height: 77px;
}

.bl-inner{
	position: relative;
	margin-right: -10px;
	height: 48px;
	background: transparent url(../i/sprites.png) no-repeat -5px -48px;
}

.bl-inner span{
	display: none;
	font-size: 46px;
	color: #fff;
	line-height: 46px;
	margin-left: 2px;
}

.bl-inner:before{
	content: '';
	position: absolute;
	left: 100%;
	top: 0;
	width: 3px;
	background: transparent url(../i/sprites.png) no-repeat -122px -48px;
	height: 48px;
}

.c-block-1{width: 20px;}
.c-block-2{width: 45px;}
.c-block-3{width: 70px;}

.sale {
    border: 2px solid white;
    margin-left: -500px;
    position: absolute;
    bottom: 40px;
    padding: 10px;
    box-shadow: inset 0 0 80px rgba(250,250,250,0.5),0 0 10px rgba(0,0,0,0.5);
}

.now {
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
}
.proposition {
    color: #ffb515;
    font-size: 50px;
    padding: 0px;
    font-weight: bold;
}

.navbar-brand {
    padding: 0px!important;
}

.navbar-brand>img {
    height: 81px;
    width: auto;
    margin-top: -14px;
}

.top-nav-collapse .navbar-brand>img {
    height: 50px;
    width: auto;
    margin-top: 0px;
}

.navbar-default .navbar-nav>li>a {
    color:white;
}

.navbar-default {
    background-color: black;
    border-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color:#f4bb3a;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #f4bb3a;
    background-color: transparent;
}

@media (max-width: 768px) {
    #intro h1 {
        font-size: 40px;
    }
    .navbar-brand>img {
        height: 100%;
        margin-top: 0px;
        margin-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #intro p.subslogan {
        font-size: 24px;
        margin-top: 20px;
    }
    .sale {
        bottom: -30px;
    }
    .img-bordered {
        margin-bottom: 20px;
    }
}