.form_1_result {font-size:20px;margin-top:10px;}
.form_2_result {font-size:20px;margin-top:10px;}
.form_1_result br {padding-bottom:5px;display:block}
.modal__input__text {outline:none;}
.modal__input__submit {outline:none;}
.modal__input__submit:hover {outline:none;background-color:red;color:#fff;}
.remodal.little {width:520px;height:670px;}

@media (max-width: 450px) and (min-width: 300px) {
	.complect {
	  padding-bottom: 0px!important;
	  min-height: 400px!important;
	}
	.remodal.little {width:90%;height:520px;min-height:520px;}
}

@media (max-width: 550px) and (min-width: 449px) {
	.complect {
	  padding-bottom: 0px!important;
	  min-height: 400px!important;
	}
	.footer__timer .clock span {background-position:8% 0;}
	
	.remodal.little {width:90%;height:520px;min-height:520px;}
}