*{
	font-family: 'Open Sans', sans-serif;
}
body {
    height: 3000px;
}
header {
    text-align: center;
}

header h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size : 45px;
    text-transform : uppercase;
    color : #FF2D4A;
}

.gradient{
  background : -moz-radial-gradient(50% 40%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(189, 204, 212, 1) 100%);
  background : -webkit-radial-gradient(50% 40%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(189, 204, 212, 1) 100%);
  background : -webkit-gradient(radial,50% 40% ,0 , 50% 40%, 797.53 ,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(189, 204, 212, 1) ));
  background : -o-radial-gradient(50% 40%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(189, 204, 212, 1) 100%);
  background : -ms-radial-gradient(50% 40%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(189, 204, 212, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);"
  background : radial-gradient(50% 40%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(189, 204, 212, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);
}

.headline{
    height: 5px;
    background-image: url(../images/headline.png);
    margin-bottom: 100px;
}

.logo{
    margin: 40px 0px 20px 0px;
    width: 10%;
    display: none;
}

.team {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
}

.navbar {
    background-color: #f4fafa;
    border: none;
    height: 80px;
}

.navbar-brand {
    height: 80px;
    overflow: hidden;
}

.navbar-brand img {
    height: 100%;
    width: auto;
}

.navbar-nav>li {
    margin: 20px 10px;
}

.nav>li>a{
    border-radius: 5px;
    line-height: 20px;
    font-weight: 600;
    font-size: 14px;
    color:#607d8b;
    padding: 10px 8px;
    text-transform: uppercase;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.review-img {
    border-bottom: 3px solid #e04028;
}
.nav>li>a:hover,.nav>li>a:focus,.nav>li.active{
    text-decoration: none;
    background-color: #ff2c49;
    color:white!important;
    border-radius: 5px;
}
.nav>li.active a {
    color:white;
}
.firm {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    color:#245259;
    margin-bottom: 40px;
}
.firm span {
    display: block;
    font-weight: 700;
    font-size: 30px;
    color: #eb4549;
}
.firm:after {
    content: "";
    display:block;
    background-image: url(../images/divider.png);
    padding: 10px;
    height: 11px;
    background-repeat: no-repeat;
    background-position: center;
}

section {
    padding: 100px 0px;
}
.serv-item {
    border: 1px solid #dbdbdb;
    padding: 10px 20px;
    padding-left: 60px;
    margin-left: 50px;
    position: relative;
    margin-bottom: 40px;
    min-height: 158px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.serv-item:hover {
    background-color: #ff2c49;
    cursor: pointer;
}
.serv-item:hover .blue{
    display: none;
}
.serv-item .blue{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.serv-item:hover .red{
    display: inline;
}
.serv-item .red{
    display: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.serv-item:hover .img-box {
    border: 1px solid #ff2c49;
}
.serv-item:hover h3 {
    color:white;
}
.serv-item:hover p {
    color:white;
}
.serv-item h3 {
    font-size: 16px;
    color:#4c6071;
    font-weight: 700;
    text-transform: uppercase;
    margin-top:10px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.serv-item p {
    font-size: 13px;
    color: #99abb7;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.serv-item .img-box {
    display: inline-block;
    border: 1px solid #dbdbdb;
    padding: 20px;
    position: absolute;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    top: 0%;
    left: -35px;
    margin-top: 10%;
    background-color: white;
}
#purchase_now {
    background-color: #36b5cc;
    padding: 50px 0px;
}
#purchase_now p{
    color:white;
    font-weight: 600;
    font-size: 17px;
}
.col-btn {
    border-radius: 5px;
    color: #FFF;
    background-color: #ff2c49;
    display: inline-block;
    padding: 8px 18px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
    border:none;
    overflow: hidden;
    box-shadow: 0px 4px 0px #9f4861;
    text-transform: uppercase;
}
.col-btn:hover ,.col-btn:focus ,.col-btn:active {
    color: #fff;
    text-decoration: none;
}
.col-btn span {
    display: inline-block;
    background-color: #e52842;
    margin: -8px -18px -8px 10px;
    padding: 10px;
}
.filters {
    display: inline-block;
    margin-bottom: 50px;
}
.filters a{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: #4c6071;
    padding-bottom: 5px;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}
.filters a.selected {
    border-bottom: 2px solid #eb4549;
}
.filters a:hover,.filters a:active,.filters a:focus{
    text-decoration: none;
}
.filters a:hover{
    color:#eb4549;
}
.portfolio, .reviews{
    margin-top: 50px;
}
#reviews {
    overflow: hidden;
}
.p-item {
    margin: 30px 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.p-item:hover {
    cursor: pointer;
    margin: 28px 0px 30px 0px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.p-item h4{
    font-size: 15px;
    font-weight: 600;
    color:#4c6071;
    text-transform: uppercase;
}
.p-item p{
    font-size: 13px;
    font-weight: 400;
    color:#99abb7;
    text-transform: lowercase;
    padding-bottom: 10px;
}
#reviews h4{
    margin-top: 45px;
    text-transform: uppercase;
    font-weight: 600;
    color:#4c6071;
    font-size: 18px;
}
#reviews p{
    font-size: 15px;
    color:#99abb7;
}
#clients {
    padding: 50px 0px;
    background-image: url(../images/clients.png);
}
#clients ul {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#clients img {
    width: 150px;
    margin-left: 20px;
    margin-right: 20px;
}
.grid-item { width: 33%; }
@media screen and (max-width: 800px) {
    .grid-item { width: 50%; }
}
@media screen and (max-width: 500px) {
    .grid-item { width: 100%; }
}
.blog-item {
    padding: 10px;
}
.blog-item h3{
    font-weight: 600;
    color:#4c6071;
    font-size: 15px;
    text-align: left;
    padding-bottom:10px;
    border-bottom: 1px solid #e6e9ed;
}
.blog-item p{
    font-weight: 500;
    color: #99abb7;
    font-size: 13px;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 2px solid #f1eeee;
}
.team-item img {
    width: 100%;
}
.wraper {
    margin-top: 10px;
    border: 1px solid #e9e8ec;
    padding: 10px;
}
.wraper h3{
    font-weight: 600;
    color:#4c6071;
    font-size: 15px;
    text-transform: uppercase;
}
.wraper p{
    font-weight: 600;
    color:#99abb7;
    font-size: 14px;
    text-transform: uppercase;
}
#wearebest {
  background : -moz-radial-gradient(50% 50%, circle farthest-corner, rgba(92, 214, 241, 1) 0%, rgba(22, 153, 173, 1) 100%);
  background : -webkit-radial-gradient(50% 50%, circle farthest-corner, rgba(92, 214, 241, 1) 0%, rgba(22, 153, 173, 1) 100%);
  background : -webkit-gradient(radial,50% 50% ,0 , 50% 50%, 400 ,color-stop(0,rgba(92, 214, 241, 1) ),color-stop(1,rgba(22, 153, 173, 1) ));
  background : -o-radial-gradient(50% 50%, circle farthest-corner, rgba(92, 214, 241, 1) 0%, rgba(22, 153, 173, 1) 100%);
  background : -ms-radial-gradient(50% 50%, circle farthest-corner, rgba(92, 214, 241, 1) 0%, rgba(22, 153, 173, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);"
  background : radial-gradient(50% 50%, circle farthest-corner, rgba(92, 214, 241, 1) 0%, rgba(22, 153, 173, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);
}
#wearebest .firm:after {
    background-image: url(../images/devider_2.png);
}
#wearebest .firm span {
    color:white;
}
#wearebest .firm {
    color: white;
}
#wearebest li {
    color:white;
    text-align: left;
    margin-bottom: 30px;
}
#wearebest li h3 {
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
}
#wearebest li p {
    font-size: 13px;
    font-weight: 500;
}
.best-container {
    background-image: url(../images/best/container.svg);
    background-size: cover;
    text-align: center;
}
.best-container img {
    display: inline-block;
    width: 50%;
    height: auto;
    padding-top: 25%;
    padding-bottom: 25%;
}
#footer {
    background-image: url(../images/fon_karta.png);
    background-size: cover;
    padding: 0px;
}
#footer .headline {
    margin-bottom: 0px;
}
#footer .firm {
    padding: 50px 0px;
}
.rights {
    background-color: white;
    padding: 20px 0px;
    font-weight: 600;
    font-size: 14px;
    color:#4c6071;
}
.socials{
    background-color: #eb4549;
    text-align: center;
}
.socials ul{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.socials ul li a,.socials ul li button{
    font-size: 30px;
    color:white;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 60px;
    min-width: 60px;
    line-height: 60px;
    display: inline-block;
}
.socials ul li button{
    font-size: 25px;
}
.socials ul li.call button{
    padding-left: 10px;
    padding-right: 10px;
}
.socials ul li.call button:hover{
    text-decoration: none;
}
.contactform {
    margin-bottom: 50px;
}
.contactform input {
    width: 50%;
    display: inline-block;
    float: left;
    border-radius:0px;
    height: 64px;
    background-color: rgba(255, 255, 255, 0.8);
    color:#99abb7;
}
.contactform textarea {
    resize:vertical;
    border-radius:0px;
    background-color: rgba(255, 255, 255, 0.8);
    color:#99abb7;
}
.contactform ul li {
    padding-left: 100px;
    position: relative;
}
.contactform ul li:before {
    font-family: FontAwesome;
    display:inline-block;
    background-color: #eb4549;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 80px;
    color: white;
    text-align: center;
    line-height: 100%;
    padding-top: 13%;
    font-size: 24px;
}

.contactform ul li:nth-child(1):before {
    content: "\f08d";
}

.contactform ul li:nth-child(2):before {
    content: "\f098";
}

.contactform ul li:nth-child(3):before {
    content: "\f0e0";
}

.contactform h4{
    margin-top: 0px;
    font-size: 15px;
    font-weight: 600;
    color:#4c6071;
}
.contactform p{
    font-size: 13px;
    font-weight: 600;
    color:#607d8b;
    margin-bottom: 40px;
}
.contactform li:nth-child(3) p{
    margin-bottom: 0px;
}
.send-btn {
    margin-top: 20px;
    text-align: right;
}
.send-btn button{
    background-color: #eb4549;
    color:white;
    padding: 10px 20px;
    border-radius: 0px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
}
.send-btn button i {
    margin-left: 10px;
}
.reviews .item {
    margin-bottom: 10px;
}
#faces .row {
    margin-bottom: 40px;
}
#faces .row>div{
    display: inline-block;
    float: none;
}
#myModal .modal-content{
    background-color: #4c6071;
}
#myModal .close {
    color:white;
    opacity: 1;
    font-size: 34px;
}
#myModal .modal-title {
    color:white;
    font-weight: 600;
    font-size: 18px;
    font-size: 22px;
}

#myModal .form-control {
    background-color: rgba(255, 255, 255, 0.1);
    color:white;
}
#myModal .send-btn{
    margin-top: 0px;
}
#myModal .form-control,#myModal .modal-header,#myModal .modal-footer{
    border-color: rgba(255, 255, 255, 0.3);
}
@media only screen and (max-width: 800px) {
    .serv-item .img-box {
        margin-top: 6%;
    }
    .portfolio {
        text-align: center;
    }
    #wearebest li{
        text-align: center;
    }
    #wearebest li>div:first-child{
        float: none;
        display: inline-block;
        margin-bottom: 20px;
    }
    #wearebest div.col-md-2 {
        display: none;
    }
    #reviews h4 {
        margin-top: 5px;
    }
    #reviews li ,#portfolio li,#clients li{
        margin-bottom: 20px;
    }
    section {
        padding: 25px 0px;
    }
    .portfolio, .reviews {
        margin-top: 10px;
    }
    .filters {
        margin-bottom: 10px;
    }
    .team-item {
        margin-bottom: 30px;
    }
    .navbar-toggle {
        border-color: #eb4549;
        margin-top: 23px;
    }
    .navbar-toggle .icon-bar {
        background-color: #eb4549;
    }
    .navbar-collapse {
         background-color: #f4fafa;
        z-index: 5555;
    }
}
@media only screen and (max-width: 500px) {
    .portfolio > div {
        width: 100%!important;
        max-width: 100%!important;
    }
    .portfolio > div img{
        width: 100%;
    }
    .serv-item .img-box {
        margin-top: 16%;
    }
    .socials .list-inline>li {
        margin-bottom: 10px;
    }
    .contactform input,.contactform textarea {
        width: 98%;
        margin: 5px 1%;
        height: 34px;
    }
    .contactform textarea {
        height: 100px;
    }
    .send-btn button{
        margin-right: 1%;
    }
}

@media only screen and (max-width: 800px) and (min-width: 400px) {
    .contactform ul li:before {
        bottom: auto;
        padding-bottom: 13%;
    }
}