@font-face {
    font-family:"HelveticaNeue";
    src: url("../fonts/HelveticaNeue.ttf");
}

@font-face {
    font-family:"HelveticaNeueLight";
    src: url("../fonts/HelveticaNeueLight.ttf");
}

a:hover{
    text-decoration: none;
}

input,textarea{
    border-radius: 0px;
}

textarea {
    max-width: 100%;
}

input:not(:placeholder-shown),.has-val,input:focus,textarea:focus{
    background-color: #fcef97;    
}

* {
    font-family: "HelveticaNeue";
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active{
    background-color: transparent;
}


#about p,#adwantages .item p, .site-text{
    font-size: 14px;
    line-height: 26px;
    color:#737373;
}


#lang {
    padding-bottom: 45px;
}

#lang .list-inline>li {
    padding-right: 11.25px;
    padding-left: 11.25px;
}

#lang .list-inline>li:last-child {
    padding-right: 0px;
}

#lang a.active {
    color: #d0d0d0;
    padding: 0px 9.5px;
    background-color: #00334e;
}

#lang a.active,
#lang a.active:focus,
#lang a.active:hover{
    text-decoration: none;
    cursor: default;
}

#lang ul {
    width: 195px;
    text-align: right;
}

#lang a {
    padding-top: 35px!important;
    padding-bottom: 13px!important;
    color: #00334e;
    font-size: 10px;
    display: inline-block;
}

#lang a:not(.active):hover{
    text-decoration: none;
}

.navbar-nav {
    width: 100%;
}

.spessial {
    height: 24px;
    background-color: white;
    margin-top: -5px;
    border-bottom: 5px solid #00334e;
}

.navbar-nav>li>.dropdown-menu {
    /* margin-top: 19px; */
}

.col-md-8 .navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-default {
    background-color: white;
    border-color: transparent;
    border-radius:0px;
    min-height:101px;
}

.navbar-brand {
    overflow: hidden;
    height: 101px;
}

.navbar-brand>img {
    margin-top: -6px;
}

.navbar-default .navbar-nav>li {
    margin: 48px 24.6px 0px;
}

.navbar-default .navbar-nav>li>a {
    text-transform: uppercase;
    padding: 0px 0px 5px;
    color: #00334e;
    font-size: 13px;
    overflow: hidden;
    animation-fill-mode: forwards;
}

.request-audit-btn:after,.special-email:after{
    content: "";
    display: block;
    height: 1px;
    background-color: #66c2dd;
    width: 100%;
    margin-top: 6px;
    animation-fill-mode: forwards;
}

.special-email:after{
    margin-top: 0px;
}

.request-audit-btn:hover:after,.special-email:hover:after{
    animation: mymove 0.75s;
}

@keyframes mymove {
    0%   {margin-left: -100%;}
    100% {margin-left: 0px;}
}

 

.navbar-default .navbar-nav>li>a:after{
    content: "";
    display: block;
    height: 1px;
    background-color: #009ac7;
    width: 100%;
    position: absolute;
    margin-top: 2px;
    animation-fill-mode: forwards;
}

.navbar-default .navbar-nav>li>a:hover:after{
    animation: mymove 0.5s;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
    color: #00334e;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

.dropdown-menu {
    background-color: #00334e;
    border-radius:0px;
    box-shadow:none;
    border: none;
    min-width:100px;
}

.dropdown-menu>li {
    padding: 10px 42px;
}


.dropdown-menu>li>a {
    color:#ffffff;
    font-size: 12px;
    line-height: 20px;
    white-space: pre-line;
    border-style:solid;
    border-color: white;
    border-width: 0px 0px 1px 0px;
    display: initial;
    margin: 11px 0px;
    padding:0px;
    padding-bottom: 2px;
    transition: border-color .3s;
/*
    overflow: hidden;
    display: block;
*/
}

.dropdown-menu>li>a:hover{
    border-color: #8099a7;
}

.dropdown-menu>li>a>span.f-b-t {
    padding:0px 2px;
    float: left;
    line-height: 30px;
    display: inline-block;
}

.line {
    height: 1px;
    background-color: white;
    display: inline-block;
    position: absolute;
    margin-top: 24px;
}
/*

.dropdown-menu>li>a>span::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.dropdown-menu>li>a:hover>span::after {
    width: attr(data-width);
}
*/

/*
.dropdown-menu>li>a>span:after {
    content: "";
    display: inline-block;
    height: 1px;
    background-color: #009ac7;
    width: 100%;
    position: absolute;
    margin-top: 4px;
}
*/

.dropdown-menu>li>a:hover {
    color: #ffffff;
    background-color: transparent;
}

.dropdown-menu>li {
    overflow: hidden;
}

.dropdown-menu>li:nth-child(2){
    padding-top: 23px;
}

.dropdown-menu>li:last-child{
    margin-bottom: 22px;
}

#poster {
    margin-top: 40px;
    margin-bottom: 100px;
    background-image: url(../img/head.png);
    background-position: 24% 35%;
    min-height: 232px;
    background-size: initial;
}

/*
#about {
    padding-top:100px;
}
*/
#about h2, .site-h2 {
    margin-top: 0px;
    text-transform: uppercase;
    font-family:"HelveticaNeueLight";
    font-size: 30px;
    color: #26495f;
}

.site-h2-small {
    font-size: 20px;
}

.site-h2-very-small {
    font-size: 15px;
}

#about p {
    font size: 13px;
    color: #737373;
    line-height: 26px;
}

#about p:last-child {
    margin-top: 60px;
    margin-bottom: 20px;
}

#adwantages{
    padding-top:75px;
    padding-bottom: 48px;
}
#adwantages h2 {
    margin-top: 0px;
    text-transform: uppercase;
    font-family:"HelveticaNeueLight";
    font-size: 30px;
    color:#26495f;
}

#adwantages .item {
    margin-bottom: 50px;
}

#adwantages .item h3{
    font-size: 14px;
    text-transform: uppercase;
    color:#00334e;
    line-height: 23px;
}

#adwantages .item img {
    margin-bottom: 10px;
    display: inline-block;
}

#request-audit {
    padding: 70px 0px;
    background-color: #009ac7;
}

.request-audit-btn {
    font-size: 20px;
    color:white;
    text-transform: uppercase;
    font-family:"HelveticaNeueLight";
    display: inline-block;
/*    border-bottom: 1px solid #33aed2;*/
    padding-bottom: 1px;
    margin-bottom: 0px;
    overflow: hidden;
}

.request-audit-btn:hover,.request-audit-btn:active,.request-audit-btn:visited,.request-audit-btn:focus{
    color: white;
    text-decoration: none;
}

footer {
    padding: 75px 0px 60px;
    background-color: #00334e;
}

footer p{
    font-size: 13px;
    color:#748591;
}

footer p.rights{
    font-size: 13px;
    color:#748591;
    margin-top: -5px;
    text-transform: uppercase;
}

footer .navbar-default {
    background-color: transparent;
    margin-top: -27px;
    border-bottom: 1px solid #1a4860;
    padding-bottom: 54px;
}

footer .navbar-default .navbar-nav>li{
    margin: 0px 24.8px;
    padding-top: 20px;
}


footer .navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}

footer .navbar-left {
    margin-left: -20px;
}

.row-padding {
   padding-bottom: 70px;
}

.subscribe, .social {
    padding-top: 30px;
}

.subscribe h4,.social h4{
    color: white;
    font-size: 18px;    
    text-transform: uppercase;
}

.social h4 {
    margin-bottom: 17px;
}

.subscribe p {
    margin-bottom: 20px;
    font-size: 13px;
    color: #586e7d;
}

.subscribe input,
.subscribe button {
    height: 50px;
    float: left;
}

.subscribe button {
    width: 105px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    background-color: #009ac7;
    color:white;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.subscribe button,
.subscribe button:hover,
.subscribe button:active,
.subscribe button:visited,
.subscribe button:focus{
    color:white;
    text-decoration: none;
    border: none;
}

.subscribe input{
    width: calc(100% - 105px);
    padding-left: 20px;
    border: none;
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    max-width: 330px;
    border-radius: 0px;
}

.modal-wrapper input,
.modal-wrapper textarea{
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 20px;
    border: none;
}

.ghost-btn {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #009ac7;
    background-clip: padding-box;
    font-size: 11px;
    padding: 5.5px 21px;
    transition: all 0.2s ease-out;
    background: #fff;
    box-sizing: content-box;
    cursor: pointer;
    zoom: 1;
    text-transform: uppercase;
    color:#009ac7;
}

.ghost-btn:hover {
    transition: 0.2s ease;
    background-color: #009ac7;
    color: #fff;
    text-decoration: none;
}

.thanks {
    line-height: 52px;
    color: white!important;
    font-size: 15px!important;
}

.contact-us-thanks {
    color:black!important;
    text-align: center;
}
/*

#contuct_us {
    padding-top: 100px;
}
*/

.special-email {
    color: #009ac7;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
/*
    border-style: solid;
    border-color: #b2e1ee;
    border-width: 0px 0px 1px 0px;
*/
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.special-email:hover,.special-email:focus {
    color: #009ac7;
}

.contacts-row {
    padding-top: 39px;
    padding-bottom: 65px;
}

.contacts-form{
    margin-bottom: 104px;
}

.contacts-form input,
.contacts-form textarea{
    width: 100%;
    border:1px solid #009ac7;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    text-transform: uppercase;
}

.contacts-form input:focus,
.contacts-form textarea:focus{
    outline: none;
}

.contacts-form input{
    margin-bottom: 20px;
}

.contacts-form textarea{
    height: 325px;
    margin-bottom: 18px;
}

.file-item p.file-size {
    color: #a3a3a3!important;
    font-size: 13px;
    margin-top: 9px;
    margin-bottom: 17px;
}

.file-item img {
    margin-bottom: 25px;
}

.file-item a.special-email{
    line-height: 30px;
}

/*
@media (min-width: 768px) and (max-width: 1201px) { 
    .navbar-nav {
        display: block;
        width: calc(100% - 200px);
        margin-top: -50px;
    }
    
    footer .navbar-nav {
        width: 100%;
        margin-top:0px;
        float: left!important;
    }
    
}
*/

.navbar-default .navbar-toggle {
    margin-top: 35px;
}

.seo-text {
    font-size: 9px;
    color: #365468;
}

.modal-content {
    background-color: #00334e;
    border:none;
    border-radius: 0px;
}

.close{
    margin-right: -46px;
    margin-top: 0px;
    opacity: 1;
}

.close:hover{
    opacity:1;
}

.modal-content {
    box-shadow: none;
}

.modal-wrapper {
    padding: 56px 100px 80px;
}

.modal-wrapper .modal-title {
    font-size: 30px;
    color:white;
    text-transform: uppercase;
    font-family:"HelveticaNeueLight";
    margin-bottom: 14px;
    line-height: 36px;
}

.modal-wrapper p {
    color:white;
    font-size: 13px;
    line-height: 26px;
}

.modal-wrapper p:nth-child(2) {
    margin-bottom: 55px;
}

.modal-wrapper input,
.modal-wrapper textarea {
    width: 100%;
    display: block;
    margin-bottom: 15px;
    border: none;
    height: 36px;
}

.modal-wrapper textarea {
    height: 227px;
    margin-bottom: 26px;
    padding-top: 10px;
}

@media (min-width: 768px){   
    .modal-dialog {
        width: 711px;
    }
    
/*
    .navbar-right {
        margin-right: 0px;
    }
*/
}


.submit-ghost-btn {
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    background-clip: padding-box;
    padding: 17.5px 82px;
    transition: all 0.2s ease-out;
    box-sizing: content-box;
    cursor: pointer;
    zoom: 1;
    text-transform: uppercase;
    color:white;
    background-color: #00334E;
    font-size: 14px;
    font-family: Helvetica;
}

.submit-ghost-btn:hover {
    transition: 0.2s ease;
    background-color: white;
    color: #00334E;
    text-decoration: none;
}


.submit-ghost-btn-2 {
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    background-clip: padding-box;
    padding: 21px 82px;
    transition: all 0.2s ease-out;
    box-sizing: content-box;
    cursor: pointer;
    zoom: 1;
    text-transform: uppercase;
    color:white;
    background-color: #009ac7;
    font-size: 14px;
    font-family: Helvetica;
}

.submit-ghost-btn-2:hover {
    text-decoration: none;
    color:white;
}


.social>.icons{
    overflow: hidden;
    margin-left: -6px;
}

.social>.icons>.item {
    width: 52px;
    display: inline-block;
    height: 52px;
    float: right;
    margin: 5px;
    opacity: 1;
    background-size: 52px;
}


.social>.icons>.item-facebook{
    background-image: url(../img/icons/facebook.jpg)
}
.social>.icons>.item-linkedin{
    background-image: url(../img/icons/linkedin.jpg)
}
.social>.icons>.item-print{
    background-image: url(../img/icons/print.jpg)
}
.social>.icons>.item-twitter{
    background-image: url(../img/icons/twitter.jpg)
}

.social>.icons>.item:hover {
    opacity: 0.9;
    cursor: pointer;
}

/*
@media (max-width: 767px){
    
    .close {
        margin-right: 15px;
        margin-top: 15px;
    }
    
    .navbar-default .navbar-nav>li>a{
        padding: 10px 0px;
    }
    
    #about {
        padding-top: 50px;
    }
    
    #adwantages .item {
        margin-bottom: 35px;
    }
    
    #adwantages {
        padding-bottom: 70px;
    }
    
    #adwantages .item img{
        margin: 0 auto;
        display: block;
    }
    
    #adwantages .item h3{
        text-align: center;
    }
    
    footer .navbar-default .navbar-toggle {
        margin-top: -30px;
    }
    
    .social {
        margin-top: 50px;
    }
    
    .made-in {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
*/

/*
.about-page{
    padding-top: 98px;
}
*/

.about-page p{
    margin-bottom: 0px;
}

.about-page>.container>.row {
    margin-bottom: 113px;
}

ul.square{
    margin-top: 27px;
    margin-bottom: 27px;
    list-style-type: square;
    padding-left: 35px;
}

ul.square li{
    margin: 1px 0px;    
    padding-left: 1px;
}

.team-row{
    margin-right: -22px;
    margin-left: -22px;
}

.team-row>div {
    padding-right: 22px;
    padding-left: 22px;
}

.team-row img {
    width: 100%;
}

.team-row h4 {
    text-transform: uppercase;
    font-size: 14px;
    color:#00334e;
    margin-top: 27px;
}

.team-row h5 {
    text-transform: uppercase;
    font-size: 14px;
    color: #a6a6a6;
    margin-top:9px;
    margin-bottom: 34px;
}

/*
.team-row p {
    font-size: 14px;
    color:black;
}
*/

.regulations>.container>.row{
    margin-bottom: 98px;
}

.regulations>.container>.row:last-child{   
    margin-bottom: 64px;
}

.regulations>.container>.row .row{
    margin-bottom: 21px;
}


.regulations>.container>.row:first-child{
    margin-bottom: 78px;
}

.regulations .file-item img{
    margin-bottom: 11px;
}
.regulations .file-item a.special-email{
    line-height: 23px;
    padding-bottom: 3px;
}

.carrer>.container>.row{
    margin-bottom: 79px;
}

.carrer>.container>.row:last-child .site-text{
    margin-bottom: 37px;
}

.file-box {
    margin-bottom: 16px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label{
    border: 1px solid #009ac7;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.inputfile + label span{
    width: calc(100% - 100px);
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile + label strong {
    height: 100%;
    width: 100px;
    color: white;
    background-color: #009ac7;
    display: inline-block;
    float: right;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: 500;
}

.accounting {
    margin-bottom: 71px;
}

@media (min-width: 769px){
    footer p.rights-show-small {
        display: none;
    }
    
    
    .social {
        margin-left: -7px;
    }
    
    .social>.icons {
        width: 100%;
        position: absolute;
        bottom: -5px;
        right: 10px;
    }
    
    #about h2{
        max-width: 280px;
    }
    
    .navbar-default .navbar-nav>li:first-child{
        margin-left: 0px;
    }

    .navbar-default .navbar-nav>li:last-child{
        margin-right: 0px;
    }
    
    footer .navbar-default .navbar-nav>li>a,
    footer .navbar-default .navbar-nav>li>a:focus,
    footer .navbar-default .navbar-nav>li>a:hover{
        color: white;
        padding: 0px 0px 6px;
    }
}
    
@media (max-width: 768px){
    
    #about {
        margin-top: 10px;
    }
    
    .navbar-toggle{
        display: inline-block;
    }
    
    .modal-wrapper input, .modal-wrapper textarea{
        padding-left: 10px;
    }
    
    
    .modal-wrapper p,#adwantages .item p,#about p{
        line-height: 22px;
    }
    
    footer .navbar-default .navbar-nav>li>a,
    footer .navbar-default .navbar-nav>li>a:focus,
    footer .navbar-default .navbar-nav>li>a:hover{
        color: white;
    }
    
    #adwantages .item p{
        display: table;
    }
    
    .modal-wrapper {
        padding: 30px 20px 30px;
    }
    
    #lang {
        display: none;
        visibility: hidden;
    }
    
    .navbar-header {
        padding-top: 60px;
    }
    
    .navbar-default .navbar-brand {
        padding-left: 56px;
    }
    
    #poster {
        margin-top: 12px;
        margin-left: 22px;
        margin-right: 22px;
        margin-bottom: 12px;
        min-height: 120px;
    }
    
    .navbar-default .navbar-toggle{
        border: none;
        padding: 0px;
    }
    
    .navbar-default .navbar-toggle{
        margin-top: 33px;
        margin-right: 37px;
    }
    
    #about .container,#adwantages .container,#about-page .container{
        padding-left: 35px;
        padding-right: 35px;
    }
    
    #about h2,#adwantages h2 {
        font-size: 25px;
    }
    #about p {
        margin-bottom: 0px;
    }
    
    #about p:last-child{
        margin-top: 27px;
        margin-bottom: 0px;
        text-align: left;
    }
    
    .ghost-btn {
        padding: 5.5px 32px;
    }
    
    #request-audit {
        padding-top: 80px;
        padding-bottom: 73px;
    }
    
    #request-audit .col-md-8{
        text-align: center;
    }
    
    .request-audit-btn {
        font-size: 17px;
    }
    
    .request-audit-btn:after {
        margin-top: 1px;
    }
    
    footer .navbar-header{
        display: none;
    }
    
    footer .navbar-collapse{
        border:none;
    }
    
    #poster{
        background-position: 20% 52%;
        background-size: 190%;
    }
    
    footer .navbar-default .navbar-collapse{
        border-color: transparent;
    }
    
    footer{
        padding-top: 39px;
    }
    
    footer .navbar-default{
        margin-top: 0px;
        border-bottom: none;
    }
    
    footer .navbar-collapse{
        box-shadow: none;
    }
    
    footer>.container{
        padding-left: 35px;
        padding-right: 35px;
    }
    
    footer .navbar-default .navbar-nav>li{
        border-bottom: 1px solid #335c71;
    }
    
    .sidr .navbar-nav{
        margin: 0px!important;
    }
    
    .sidr>ul>li{
        border-bottom: 1px solid #335c71;
        margin-top: 9px!important;
        padding-bottom: 9px!important;
        margin-left: 40px!important;
        margin-right: 40px!important;
    }
    
    footer .navbar-default .navbar-nav>li>a {
        padding-left: 17px;
        padding-bottom: 19px;
    }
    
    .sidr>ul>li>a  {
        padding-left: 17px!important;
        padding-bottom: 19px;
        font-size: 14px!important;
    }
    
    footer .navbar-default .navbar-nav>li>a:after,.sidr>ul>li>a:after{
        display: none!important;
    }
    
    .sidr .spessial {
        display: none;
    }
    
    .sidr .dropdown-menu>li {
        padding:17px 10px;
    }
    
    .sidr .dropdown-menu>li>a {
        padding-left: 0px!important;
    }
    
    footer .navbar-nav{
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }
    
    footer .navbar-default .navbar-nav>li{
        margin-right: 0px;
        margin-left: 0px;
    }
    
    footer .subscribe{
        overflow: hidden;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 0px;
    }
    
    .subscribe button{
        font-size: 11px;
        width: 60px;
    }
    
    .subscribe input{
        width: calc(100% - 60px);
        padding-left: 10px;
    }
    
    .subscribe p {
        margin-top: 20px;
        margin-bottom: 27px;
    }
    
    .subscribe input, .subscribe button{
        height: 48px;
    }
    
    .row-padding .col-md-5{
        padding-bottom: 55px;
        border-bottom: 1px solid #335c71;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .row-padding .col-md-3 {
        border-bottom: 1px solid #335c71;
        padding-bottom: 45px;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .social{
        margin-top: 15px;
        padding-left: 0px;
    }
    
    .social>.icons {
        width: 100%;
        text-align: center;
    }
    
    .item-print {
        display: none!important;
    }
    
    .social h4{
        margin-bottom: 20px;
    }
    
    footer p.rights-show-small {
        display: block;
        margin-bottom: 25px;
    }
    
    .row-padding {
        padding-bottom: 51px;
    }
    
    .seo-text,footer p.rights-show-small {
        padding-left: 2px;
        padding-right: 2px;
    }
    
    footer {
        padding-bottom: 38px;
    }
    
    .close {
        margin-right: 0px;
        margin-top: 0px;
    }
    
    .modal-wrapper {
        padding: 19px 23.5px 25px;
    }
    
    .modal-wrapper .modal-title {
        font-size: 20px;
        margin-bottom: 22px;
        line-height: 1.42857143;
    }
    
    .modal-wrapper p:nth-child(2) {
        margin-bottom: 50px;
    }
    
    .modal-wrapper textarea {
        margin-bottom: 32px;
    }
    
    .submit-ghost-btn {
        font-size: 12px;
        padding: 13.5px 54px;
    }
    
    
    .sidr {
        display: block;
        position: fixed;
        top: 0;
        height: 100%;
        z-index: 999999;
        width: 226px;
        overflow-x: hidden;
        overflow-y: auto;
        font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
        font-size: 15px;
        background: #00334e;
        color: #fff;
        min-width: 226px;
    }

    .sidr li a{
        color: white!important;
    }

    .sidr .sidr-inner {
        padding: 0 0 15px
    }

    .sidr .sidr-inner>p {
        margin-left: 15px;
        margin-right: 15px
    }

    .sidr.right {
        left: auto;
        right: -226px
    }
    
    .sidr .navbar-nav .open .dropdown-menu {
        margin-left: 32px;
        margin-top: 7px;
        margin-bottom: 33px;
    }
    
    .sidr .dropdown-menu>li>a{
        border-color: #8099a7;
    }
    
    .sidr .navbar-nav .open .dropdown-menu>li>a{
        padding-right: 0px;
    }
    
    li#lang-selector {
        overflow: hidden;
        border-bottom: none!important;
        margin-top: 40px!important;
        margin-bottom: 69px;
    }
    
    #lang-selector a {
        display: inline-block!important;
        float: right;
        padding: 10px 12px!important;
        border: 1px solid #335c71;
    }
    
    #lang-selector a.active {
        border-color:white;
        background-color: white;
        color:#00334e!important;
    }
        
    .navbar-default .navbar-brand{
        padding-left: 35px;
        padding-top: 20px;
    }
    
    .navbar-brand>img{
        max-width: 140px;
    }
    
    
    .navbar {
        margin-bottom: 10px;
    }
}

@media (max-width: 767px){
    
    #adwantages .item img{
        display: inline-block;
        float: left;
        padding-right: 18px;
        margin-top: 5px;
        margin-bottom: 63px;
    }
    
    #adwantages .item h3{
        text-align: left!important;
        font-size: 15px;
    }
    
    #adwantages .col-md-4 {
        overflow: hidden;
    }
    
    #adwantages h2 {
        margin-bottom: 33px;
    }
    
    #adwantages {
        padding-bottom: 14px;
    }
    
    footer p.rights{
        display: none;
    }
    
    .social>.icons{
        margin-left: 0px;
    }
    
    .social>.icons>.item{
        height: 40px;
        width: 40px;
        background-size: 40px;
        margin:6px;
        float: none;
    }
    
    .made-in {
        display: none;
    }
    
}

@media (min-width: 768px) and (max-width: 1201px) { 
    .navbar-header {
        padding-top: 50px;
    }
    
    .navbar-default .navbar-brand {
        padding-left: 97px;
    }
    
    #poster {
        margin-top: 61px;
        min-height: 234px;
        margin-bottom: 121px
    }
    
    .navbar-header {
        width: 100%;
    }
    
    .navbar-default .navbar-toggle {
        margin-right: 82px;
        margin-top: 42px;
    }
    
    .navbar-brand>img {
        max-width: 187px;
    }
    
    #about p:last-child {
        text-align: right;
    }
    
    .ghost-btn {
        padding: 7px 33px;
    }
    
    footer .navbar-default{
        display: none;
    }
    
    .col-sm-offset-4 {
        margin-left: 33.33333333%!important;
    }
    
    .row-padding .col-md-5 {
        margin-top: -73px;
    }
    
    .social>.icons>.item {
        float: none;
    }
    
    .row-padding .col-md-5 {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 64px;
        margin-left: 33.33%;
    }
    
    .subscribe input {
        width: 289px;
    }
    
    .subscribe button {
        width: 107px;
    }
    
    .row-padding .col-md-3{
         padding-bottom: 38px;
        margin-left: 33.33%;
    }
    
    footer p.rights-show-small {
        display: none;
    }
    
    .seo-text {
        margin-left: -15px;
        margin-right: -15px;
    }
}

/*
@media (min-width: 1201px){ 
    .col-sm-offset-4 {
        margin-left: 0px;
    }
}*/

@media (min-width: 768px){
    footer .navbar-right {
        margin-right: 0px;
    }
}
