/* Booklet jQuery Plugin Style*/
.booklet .b-wrap-left  {
    min-height: 100%;
    min-width: 100%;
	background:url(../images/left_bg.png) no-repeat top left;
}
.booklet .b-wrap-right {
    min-height: 100%;
    min-width: 100%;
	background: url(../images/right_bg.png) no-repeat top left;
}
.booklet .b-counter {
	bottom:10px;
	position:absolute;
    display: none;
	width:90%;
	height:20px;
	border-top:1px solid #ddd;
	color:#222;
	text-align:center;
	font-size:12px;
	padding:5px 0 0;
	background:transparent;
	-moz-box-shadow:0px -1px 1px #fff;
	-webkit-box-shadow:0px -1px 1px #fff;
	box-shadow:0px -1px 1px #fff;
	opacity:0.8;
}
.book_wrapper{
    box-sizing: content-box;
	margin:0 auto;
	padding-top:97px;
	width:905px;
	height:486px;
	position:relative;
	background:transparent url(../images/book.png) no-repeat 9px 27px;
}
.book_wrapper p{
	font-size:16px;
	margin:5px 10px;
    text-align: left;
    font-family: "Bad Script";
    font-size: 18px;
}

a#next_page_button,
a#prev_page_button{
	display:none;
	position:absolute;
	width:41px;
	height:40px;
	cursor:pointer;
	margin-top: 30px;
	top:50%;
	background:transparent url(../images/buttons.png) no-repeat 0px -40px;
}
a#prev_page_button{
	left:-30px;
}
a#next_page_button{
	right:-30px;
	background-position:-41px -40px;
}
a#next_page_button:hover{
	background-position:-41px 0px;
}
a#prev_page_button:hover{
	background-position:0px 0px;
}
.loading{
	height:56px;
	position: absolute;
	top:50%;
	margin-top:-28px;
	right:135px;
	line-height:56px;
	color:#fff;
	padding-left:60px;
    padding-right: 10px;
	font-size:15px;
	background: #000 url(../images/ajax-loader.gif) no-repeat 10px 50%;
	opacity: 0.7;
	z-index:9999;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

.b-wrap-right > div {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

.b-wrap-right > div > img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
}

.b-wrap-left img{
    max-width: 150px;
    display: inline-block;
    float: left;
}

.response {
  margin-bottom: 75px;
}

.response .logochef-sub-title {
  margin-bottom: 0px;
}

.response-with-photo {
  overflow: hidden;
  margin-bottom: 15px;
}

.response-with-photo h3{
  margin-top: calc( 75px - 33px );
}

.b-wrap-left > div{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.rev-autor {
  margin-top: 30px;
  padding-left: 20px;
}


.autor-name {
    font-size: 18px!important;
}

@media (max-width: 975px){
  
  #reviews {
    margin-top: 50px;
  }
  
  .book_wrapper {
    background: none;
    height: auto;
    width: 100%;
    padding-top: 50px;
  }
  
  a#next_page_button,a#prev_page_button,.loading {
      display: none;
  }
  
  #mybook {
    display: block!important;
    padding: 0px 20px;
    overflow: hidden;
    max-width: 100%;
  }
  
  .signature {
    max-width: 200px;
    display: none;
  }
  
  .logo_maded {
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  .book_wrapper p {
    max-width: 300px;
    margin: 0px;
    font-family: "Roboto";
  }
  
  .autor-name {
    text-align: center;
    max-width: 300px;
  }
  
  .b-load > div:nth-child(2n) {
    border-bottom: 1px solid #222;
    margin-bottom: 50px;
  }
  
  .b-load > div:last-child {
    margin-bottom: 0px;
    border-bottom: none;
  }
  
  .rev-autor {
    padding-left: 0px;
  }
  
  
}