:root {
  font-size: calc(1vw + 1vh + .2vmin);
}

*, .roboto {
    font-family: 'Roboto', sans-serif;
}
*:focus {
    outline: none;
   }
body {
    overflow-x: hidden;
    text-align: center;
}

textarea {
    max-width: 100%;
}

.text-hidden {
    display: none;
    visibility: hidden;
}

.sosials {
    background-color: #3D3C3D;
}

.navbar-default {
    background-color: white;
}
.navbar-nav {
    margin-left: 100px;
    float:none;
}
.navbar-nav a{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}
.navbar-brand {
    padding: 2px 2px;
    margin-left: 0px;
}
.navbar-brand img {
    height: 100%;
    width: auto;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: -10px!important;
}

@media (max-width: 768px){
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 10px!important;
  }
}

a.btn-ghost {
    display: inline-block;
    outline: none;
    text-align: center;
    text-decoration: none;
    font-family: inherit;
    letter-spacing: 1px;
    vertical-align: middle;
    border: 2px solid #D32F2F;
    transition: all 0.2s ease;
    box-sizing: border-box;
    text-shadow: 0 1px 0 rgba(0,0,0,0.01);
    border-radius: 5px;
    padding: 5px 7.5px!important;
    margin: 10px 7.5px;
    font-weight: 700;
    font-size: 14px;
    color:#6D6D6D!important;
}

a.btn-ghost:hover {
    background-color: #D32F2F!important;
    color: #fff!important;
    border-color: #D32F2F;
}

.tarilkas {
    background-image: url('../images/tarilkas.png');
    background-repeat: no-repeat;
    height: 312.5px;
    width: 312.5px;
    margin: auto;
    zoom:0.5;
}
.tarilkas-2 {
  background-position: -312.5px 0;
}
.tarilkas-3 {
  background-position: -625px 0;
}
.tarilkas-4 {
  background-position: 0 -312.5px;
}
.tarilkas-5 {
  background-position: -312.5px -312.5px;
}
.tarilkas-6 {
  background-position: -625px -312.5px;
}
.why {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 50px;
}
.why h2 {
    text-transform: uppercase;
    margin-bottom: 25px;
}

.chef {
    position: absolute;
    width: 280px;
    bottom: 50px;
    right: 100px;
}

.steps {
    background-image: url('../images/sprite-2.png');
    background-repeat: no-repeat;
    height: 154px;
    width: 200px;
    margin: auto;
}
.steps-2 {
  background-position: -200px 0;
}
.steps-3 {
  background-position: -400px 0;
}

.howwork {
    background-image: url('../images/new/howwork.png');
    background-repeat: no-repeat;
    height: 300px;
    width: auto;
    margin: auto;
    zoom:0.75;
}

.howwork-2 {
  background-position: -400px 0;
}

.howwork-3 {
  background-position: -800px 0;
}


@media (max-width: 1050px){
  .howwork {
    zoom:0.5;
  }
}

@media (min-width: 1300px){
  .howwork {
    zoom:0.85;
  }
}


@media (max-width: 1100px){
    zoom:0.7;
}

@media (max-width: 776px){
  .howwork {
    width: 400px;
  }
  
  .abs-contaiter > .row > div {
    margin-top: 50px;
  }
  
  .abs-contaiter > .row > div > h4{
    margin-bottom: 0px!important;
  }
  
  .abs-contaiter > .row > div > p{
    max-width: 350px;
    margin: 0 auto;
  }
}

.logochef-devider {
  width: 50px;
  height: 2px;
  background: #D32F2F;
  margin: 0 auto;
}

.logochef-sub-title {
  margin: 10px 0px 75px;
}

.abs-contaiter {
  position: relative;
  margin-bottom: 20px;
}


@media (min-width: 1050px){

  .logotypeabstract {
    background-image: url(../images/new/logotype.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 40px;
    bottom: 0px;
  }
  
}


#steps {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
#steps .item h4{
    text-transform: uppercase;
    color:#666666;
    font-size: 32px;
}
p {
    font-size: 18px;
    font-weight: 300;
}
.steps-final {
    width: 500px;
    margin: 0 auto;
}

.subscribe-btn {
    background : #D32F2F;
    border-radius : 5px;
    -moz-border-radius : 5px;
    -webkit-border-radius : 5px;
    text-transform: uppercase;
    color:white;
    font-size: 21px;
    display: inline-block;
    font-weight: bold;
    border: none;
    padding: 6px 24px;
}

.subscribe-input {
    height: 42px;
}

.subscriber-col{
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}

.subscriber-row {
    margin-right: -5px;
    margin-left: -5px;
}

.a-b-price {
  color: #d32f2f;
  position: absolute;
  top: -20px;
  display: block;
  width: 100%;
  left: 0px;
  right: 0px;
}

.a-b-price > span{
    overflow: hidden;
    position: relative;
}

.a-b-price > span:before {
    content: "";
    width: 100%;
    height: 1px;
    background: #d32f2f;
    position: absolute;
    opacity: 0.7;
    margin-top: 9px;
}

.tm {
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  margin-top: 60px;
  font-size: 21px;
}

.video-container {
  width: 700px;
  max-width: 100%;
}

.conv-btn {
    background : #D32F2F;
    border-radius : 5px;
    -moz-border-radius : 5px;
    -webkit-border-radius : 5px;
    text-transform: uppercase;
    color:white;
    padding: 12px 24px;
    font-size: 24px;
    display: inline-block;
    font-weight: bold;
}

.conv-btn:visited, .conv-btn:hover, .conv-btn:active, .conv-btn:focus {
    color: white;
    text-decoration: none;
    outline: none;
}

.conv-btn-2 {
    border:none;
    background : #D32F2F;
    border-radius : 5px;
    -moz-border-radius : 5px;
    -webkit-border-radius : 5px;
    text-transform: uppercase;
    color:white;
    padding: 6px 12px;
    font-size: 16px;
    display: inline-block;
}

.conv-btn-2:hover, .conv-btn-2:focus, .conv-btn-2:active{
    color: white;
    text-decoration: none;
    outline: none;
}

.m-s-1,.blue-bg,#services .item, .left-text {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.m-s-1:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.blue-bg {
    background : #34B2BD;
    background : rgba(52, 178, 189, 1);
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}
#services .item {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: left;
    background : #3D3C3D;
    border-radius : 5px;
    padding: 20px;
    color : white;
    position: relative;
    padding-bottom: 150px;
}


#services .col-center:nth-child(1) {
  position: relative;
}

.item-higher {
  padding-bottom: 200px!important;
}

#services .item h4{
    font-size : 30px;
    line-height : 32px;
    text-transform : uppercase;
    text-align: center;
}
#services .item p {
    font-size : 18px;
    font-weight: 500;
}
#services .item li {
    font-size : 18px;
    font-weight: 300;
    text-transform: lowercase;    
}
#services .item h3{
    font-size : 32px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 10px;
}
.knife {
    position: absolute;
    top: 40px;
    right: 0px;
}

.brokoli {
    position: absolute;
    left: -15px;
    bottom: 100px;
}

.knife2 {
    position: absolute;
    right: 0px;
    bottom: 80px;
}

.owl-item img {
    width: 100%;
    height: auto;
}
#reviews .owl-item {
    text-align: center;
}
/*
#reviews .owl-item img {
    width: 50%;
    display: inline-block;
}
*/
.slider-bg {
    background : #34B2BD;
    position: absolute;
    height: 200px;
    bottom: 70px;
    left: 0px;
    right: 0px;
    z-index: -1;
}
.owl-prev {
    position: absolute;
    top: 70%;
    left: -200px;
    background: none!important;
}

.owl-prev img {
    display: block;
    height: 50px;
}

.owl-next {
    position: absolute;
    top: 70%;
    right: -200px;
    background: none!important;
}

.owl-next img {
    display: block;
    height: 50px;
}

#owl-portfolio {
    max-width: 100%;
    overflow: hidden;
}

#owl-portfolio .owl-next {
    right: 0px;
    top: 40%;
}

#owl-portfolio .owl-prev {
    left: 0px;
    top: 40%;
}

.modal-footer {
    text-align: center;
    border-top:none;
}

.modal-header {
    border-bottom: none;
    text-align: center;
}

.nstSlider .leftGrip, .nstSlider .rightGrip {
    position: absolute;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background: transparent;
    background-image: url(../images/pomidorka.svg);
    margin-top: -20px;
}
.nstSlider {
    height: 2px;
    background : #3D3C3D;
    display: inline-block;
    margin-left: -4px;
}

.left-text {
    display: inline-block;
    background : #3D3C3D;
    padding: 3px 6px;
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
    min-width: 120px;
}

.modal-body .form-group{
    margin-bottom: 0px;
}
.modal-title {
    border-bottom: 2px solid black;
    font-size: 35px;
    display: inline-block;
    margin-bottom: 2px;
    text-transform: uppercase;
}
.modal-header .close{
    position: absolute;
    right: 10px;
    top: 10px;
}

.conv-btn-3 {
    color: white;
    text-transform: uppercase;
    background: rgba(52, 178, 189, 1);
    display: block;
    margin-bottom: 25px;
    padding: 5px 0px;
    font-size: 17px;
    font-weight: 500;
    background: #D32F2F;
    margin-top: 40px;
    line-height: 50px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
}

.conv-btn-3:visited, .conv-btn-3:hover, .conv-btn-3:active, .conv-btn-3:focus {
    color: white;
    text-decoration: none;
    outline: none;
}

.process h3 {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 25px;
}
.process .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}

.process .row {
    margin-bottom: 15px;
}

.subscriber {
  min-height: 300px;
  margin-top: 100px;
  margin-bottom: 10px;
  padding: 75px 25px;
  background-image : url(../images/new/subscriber.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


@media (max-width: 768px){
  
  .subscriber {
    min-height: 500px;
  }
  
}

.subscriber-title {
  color: white;
  font-weight: 300;
  font-size: 21px;
  margin-bottom: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.response {
    padding: 10px 0px;
}

.response .item {
    margin-bottom: 170px;
}

.response h3,.response h4 {
    margin-top:0px;
    font-size: 30px;
    font-weight: 500;
}

.response p {
    font-size: 20px;
}

.response img {
  border-radius : 5px;
}

.first {
    display: block;
    overflow: hidden;
}

.second img {
    padding: 10px;
    margin-top: -50%;
    background: white;
    border-radius : 5px;
    box-shadow : 0px 10px 10px rgba(0, 0, 0, 0.19);
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=10, Color='#000000') ;
}

.tellink {
    padding-top: 2px!important;
    padding-bottom: 2px!important;
}

.sosials {
    padding-top: 50px;
}

.sosials ul {
  margin-bottom: 0px;
}

.sosials li {
    padding-left: 10px;
    padding-right: 10px;
}

.sosials a {
    height: 60px;
    width: 60px;
    display: inline-block;
}

.sosials a.f {
    background-image: url(../images/sosials/fb.png);
}

.sosials a.f:hover {
    background-image: url(../images/sosials/fb_w.png);
}

.sosials a.v {
    background-image: url(../images/sosials/vk.png);
}

.sosials a.v:hover {
    background-image: url(../images/sosials/vk_w.png);
}

.sosials a.i {
    background-image: url(../images/sosials/inst.png);
}

.sosials a.i:hover {
    background-image: url(../images/sosials/inst_w.png);
}

.sosials a.y {
    background-image: url(../images/sosials/yt.png);
}

.sosials a.y:hover {
    background-image: url(../images/sosials/yt_w.png);
}

footer {
  margin-bottom: -20px;
  padding-top: 45px;
  padding-bottom: 25px;
  background-image: url(../images/new/footer.png); 
}

footer h2{
  color: white;
  line-height: 145%;
}


@media (max-width: 768px){

  footer h2{
    font-size: 28px!important;
  }
  
}

a.made-by {
    color: white;
    width: 100%;
    margin-top: 0px;
    height: 35px;
    line-height: 35px;
}
a.made-by:hover,
a.made-by:active,
a.made-by:focus,
a.made-by:visited {
    color: white;
    text-decoration: none;
}

#reviews{
    margin-top: 100px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	box-sizing: border-box;
    background: url(../images/iphone6.png) center center no-repeat;
    background-size: contain;
    padding: 12.3% 18.8% 9.6% 19%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.team-item img{
    margin: 0 auto;
    width: 100%;
    border-radius: 5px;
}

.wraper {
    margin-bottom: 40px;
}

.made_by {
    color:white;
}

.call-to-video {
    text-align: center;
    margin: 25px 5px;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.start-img {
    margin-top: 50px;
    max-width: 100%;
    width: 100%;
}

#faces {
    background-color: #3D3C3D;
    color: white;
}

#faces h2 {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#lastworks .logochef-sub-title {
    margin: 10px 0 15px!important;
}

#lastworks h2 {
    padding-top: 30px;
}
#lastworks .row>a {
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    display: block;
    overflow: hidden;
    background: white;
}

.moreLogo {
      font-size: 18px;
    position: absolute;
    left: 50%;
    margin-top: -10px;
    margin-left: -125px;
    z-index: 99;
    text-align: center;
    border: none;
    width: 250px;
}

.neadtoshow {
  overflow: hidden;
  display: block;
  max-height: 0px;
  transition: max-height .8s cubic-bezier(0, 1, 0, 1) -.1s;
  margin-right: -15px;
  margin-left: -15px;
}

.neadtoshow > .row {
  margin-left: 0px;
  margin-right: 0px;
}


.showed {
    max-height: 9999px;
    transition-timing-function: cubic-bezier(0.5, 0, 1, 0); 
    transition-delay: 0s;
}

.coolpreviev {
  position: relative;
  max-height: 60px;
}

.coolpreviev:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  box-shadow: inset 0px -42px 44px -20px rgba(0,0,0,0.43);
  z-index: 2;
}

.view>img {
    width: 100%;
}

.view .mask {
    width: 100%;
    height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
    background-image: url(../images/zoom.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.third-effect .mask {
   opacity: 0;
   overflow:visible;
   box-sizing:border-box;
   transition: all 0.4s ease-in-out;
}

.third-effect a.info {
   position:relative;
   top:-10px; /* Center the link */
   opacity: 0;
   transition: opacity 0.5s 0s ease-in-out;
}
.third-effect:hover img {
    opacity: 0.7;
}
.third-effect:hover .mask {
   opacity: 1;
}

.third-effect:hover a.info {
   opacity:1;
   transition-delay: 0.3s;
}

.col-center {
    display: inline-block;
    float: none;
}

.home-btn {
    display: inline-block;
    padding: 0px 80px;
    text-align: center;
    float: none;
    position: absolute;
    margin-left: -155px;
    margin-top: -10%;
}

.home-btn:focus,.conv-btn-3:focus {
    color: white;
    text-decoration: none;
    outline: none;
}

.infograph {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
}

@media (max-width: 768px){
  .subscribe-input {
    margin-bottom: 20px;
  }
  
  .subscriber-title{
    margin-bottom: 40px;
  }
  
  .subscribe-btn{
    padding: 8px 26px;
    display: block;
    width: 100%;
  }
}

@media (min-width: 992px){
  .subscribe-btn {
    width: 100%;
  }  
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 17px;
        padding-bottom: 17px;
    }

    .navbar-nav>li {
        display: inline-block;
        float: none;
        height: 58px;
        vertical-align: middle;
    }
}
@media screen and (max-width: 1199px) {
    .chef {
        display: none;
    }
}
@media screen and (min-width: 750px) and (max-width: 991px) {
    .no-critical-link {
        display: none!important;
    }
    .tarilkas {
        zoom:0.25;
    }
}
@media screen and (max-width: 480px) {
    
    .sosials li {
        padding-left: 5px;
        padding-right: 5px;
    }
    
    #faces h2 {
        padding-top: 20px;
    }
    
    .team-item img {
        width: 70%;
    }
    
    .home-btn {
        margin-left: -105px;
        padding: 0px 30px;
        display: none;
    }
    
    .videoWrapper iframe {
        background:none;
        padding:0px;
    }

    .intro-section .line .counter {
        font-size: 150px;
    }
    .intro-section {
        padding-top: 50px;
    }
    #owl-portfolio .owl-next {
        display: none;
    }
    #owl-portfolio .owl-prev {
        display: none;
    }
    .nstSlider {
        width: 100px;
    }
    .navbar-nav {
        margin-left: 0px;
    }
    .left-text {
        min-width: 80px;
        font-size: 9px;
        padding: 6px;
    }
    .slider-bg{
        background: #34B2BD;
        position: absolute;
        height: 200px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: -1;
    }
    .owl-carousel {
        overflow: hidden;
    }
    .modal-slider {
        padding: 15px 5px;
    }
}

@media screen and (max-width: 800px) {
/*
    #reviews .owl-item img {
        width: 90%;
    }
*/
    
    .process .left-text {
        min-width: 1px;
    }
    .process .text-right {
        text-align: left;
    }
    .response h4 {
        margin-top: 20px;
    }
    .response h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .response .item {
        margin-bottom: 50px;
    }
    .response {
        padding-bottom: 0px;
    }
    .services-section {
        padding-top: 50px;
    }
    .knife2 {
        display: none;
    }
}


@media screen and (max-width: 667px) {
    .response h3 {
        margin-top: 0px;
    }

    .second {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .second img {
        margin-top: 0px;
    }
    .response .row:nth-child(2) {
        display: none;
    }
}

@media screen and (min-width: 768px)  and (max-width: 991px) {
    .second img {
        margin-top: -30%;
    }
}

section.a-b-video {
  height: 100%;
  overflow: hidden;
  position: relative;
  font: 1rem/0.7 "Montserrat", sans-serif;
}
section.a-b-video video {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
section.a-b-video .vignette {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
section.a-b-video .btn-in-video {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: -300px;
  position: absolute;
  left: 0px;
  right: 0px;
  padding-bottom: 30px;
}

section.a-b-video h4{
  text-transform: uppercase;
  color: white;
  font-size: 28px;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}


@media screen and (min-width: 1100px){
  section.a-b-video h4{
    font-size: 60px;
    padding: 0px 400px;
    line-height: 1.3;
    margin-top: -200px;
  }
}

@media screen and (min-width: 1800px){
  section.a-b-video h4{
    font-size: 85px;
    padding: 0px 400px;
    line-height: 1.3;
    margin-top: -300px;
  }
  
  section.a-b-video a {
    font-size: 30px;
    padding: 24px 36px;
  }
}

@media screen and (max-width: 991px) {
  section.a-b-video .btn-in-video {
    margin-top: -200px;
  }
}

@media screen and (max-width: 600px) {
  section.a-b-video .btn-in-video {
    margin-top: -150px;
  }
}

.noUi-target {
  width: 300px;
  height: 2px;
  display: inline-block;
  border: 1px solid #3D3C3D;
}

.noUi-horizontal .noUi-handle {
    margin-top: -8px;
}


@media screen and (max-width: 500px) {
  section.a-b-video .btn-in-video {
    display: none;
  }
  
  .noUi-target {
    width: 35%;
  }
}

.fake-click {
  margin-bottom: 0px;
}

.langs a{
  display: inline-block;
  float: left;
}

.logobook {
  padding-top: 100px;
}

.logobook-title {
  font-weight: 700;
  font-size: 50px;
  margin-top: 0px;
}

.logobook-price-line {
  margin: 15px 0px 50px 0px;
  font-weight: 300;
  font-size: 30px;
}

.logobook-info-line {
  font-weight: 300;
  font-size: 22px;
  font-style: italic;
}

@media screen and (max-width: 667px) {
  .logobook-info-line {
      text-align: justify;
  }
  
  
  .logobook-price-line {
    margin: 25px 0px 30px 0px;
    text-align: left;
    font-size: 25px;
  }
  
  .logobook-title {
    text-align: left;
  }
}

.a-b-price{
    text-align: center;
    font-weight: 100;
    font-size: 16px;
}

.sale-end {
    color: white;
    font-size: 18px;
    font-weight: 500;
    display: block;
}

@media screen and (max-width: 667px) {
  .a-b-video, .logobook, .logobook-conv-btn ,#owl-portfolio, .portfolio-title, #steps {
    display: none!important;
  }
}

.mobile-intro {
  margin-top: 75px;
}

.mobile-intro h1{
  display: block;
  color: #222;
  visibility: inherit;
  padding: 0px 10px;
  text-transform: uppercase;
}

.mobile-intro .mail,
.mobile-intro .phone {
  color: #222;
  font-size: 16px;
  margin: 5px;
  display: inline-block;
}

#steps-mobile {
  margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

#steps-mobile ul li{
    display: block;
    overflow: hidden;
}

#steps-mobile ul {
  max-width: 650px;
  margin: 0 auto;
}

#steps-mobile ul li:before {
    content: " ";
    display: inline-block;
    height: 50px;
    width: 50px;
    background-image: url(/images/icon_logo.png);
    background-size: 100px;
    float: left;
}

#steps-mobile ul li:nth-child(2):before {
  background-position: 50px 0px;
}

#steps-mobile ul li:nth-child(3):before {
  background-position: 0px 150px;
}

#steps-mobile ul li:nth-child(4):before {
  background-position: 50px 150px;
}

#steps-mobile ul li:nth-child(5):before {
  background-position: 0px 100px;
}

#steps-mobile ul li:nth-child(6):before {
  background-position: 50px 100px;
}

#steps-mobile ul li:nth-child(7):before {
  background-position: 0px 50px;
}

#steps-mobile ul li:nth-child(8):before {
  background-position: 50px 250px;
}

#steps-mobile ul li span{
    padding: 10px;
    width: calc(100% - 50px);
    display: block;
    float: right;
}

.premium-logo {
    border: 1px solid #D32F2F;
    box-shadow: inset 0px 0px 20px 0px #D32F2F, inset 0px 0px 20px 0px #D32F2F;
}

.moreLessReadMoreBtn {
    display: inline-block!important;
    width: auto!important;
    padding: 5px 10px;
    border: 1px solid #23527c;
    border-radius: 4px;
    text-decoration: none;
}

.logosparent {
  padding-bottom: 100px;
}

.maydisc {
  position: fixed;
  left: 99999px;
  top: 115px;
  background: white;
  box-shadow: 0 25px 35px 0 rgba(0, 0, 0, 0.35);
  cursor: default;
  padding: 10px;
}

.maydisc.active {
  transition: left 2s  ease-in-out;
  left: 10px;
  z-index: 9999;
}

.maydisc p {
  margin: 0px!important;
}

.maydisc a.conv-btn {
  margin-top: 5px;
  padding: 7px 14px;
  font-size: 18px;
}

.maydiscaccent {
  color: #D32F2F;
  display: block;
  font-size: 32px;
  font-weight: bold;
}

.maydisc.active.minimalmode{
  padding-right: 30px;
}

.maydiscshow {
    position: absolute;
    right: 0px;
    height: 100%;
    top: 0px;
    padding-right: 5px!important;
    background: #f1f1f1!important;
    color: #222;
    padding-left: 5px!important;
    opacity: 1;
}

.maydisc.active .maydiscshow {
  display: none;
}

.maydisc.active.minimalmode .maydiscshow {
  display: inline-block;
}

.maydisc.active.minimalmode p.text, .maydisc.active.minimalmode a.conv-btn, .maydisc.active.minimalmode #closemaydisc {
  display: none;
}


.new-hero {
  padding-top: 125px;
  min-height: 500px;
  background: #222;
  padding-bottom: 95px;
  position: relative;
  overflow: hidden;
  transition: all 1.5s ease;
}

.new-hero.loaded {
  background: transparent;
  transition: all 1.5s ease;
}

.new-hero h1 {
  color: white;
  font-size: 50px;
  width: 500px;
  margin: 0 auto;
}

.new-hero .sub {
  color: white;
  font-style: italic;
}

.firm-wrap .fake-btn {
  padding: 8px 16px;
  font-size: 16px;
}

.ten-form-wrap {
  padding: 75px 0px;
}

.ten-form-wrap .form-control {
  width: 300px;
  margin: 0 auto;
}

.ten-form-wrap .conv-btn {
  border: none;
  margin-top: 15px;
  padding: 6px 12px;
  font-size: 18px;
}

#heroimage {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  height: 100%;
  min-width: 100%;
  width: auto;
  z-index: -1;
  opacity: 0;
  transition: all 2s ease;
}

#heroimage.loaded {
  opacity: 1;
  transition: all 2s ease;
}

.logo2line {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

@media screen and (max-width: 667px) {
  .conv-btn {
    padding: 6px 12px;
    font-size: 16px;
  }
  
  .h1, h1 {
    font-size: 24px;
  }
  
  h2{
    font-size: 16px;
  }
  
  .response h3, .response h4 {
    font-size: 16px;
  }
}


@media screen and (min-width: 991px) and (max-width: 1100px) {
  
  .langs {
    display: none!important;
  }    
    
}


.more-works {
  display: none;
}

.more-works h2{
  margin: 15px 0px 35px;
}