#servicesfromlogoshef {
  padding: 75px 0px;
}

#servicesfromlogoshef h2 {
  font-weight: bold;
  font-size: 3em;
  margin-top: 0px;
  margin-bottom: 75px;
}


#servicesfromlogoshef p {
  font-weight: 500;
  font-size: 1.3em;
  text-align: left;
}

#servicesfromlogoshef .serv-item img{
  display: block;
  margin: 0 auto;
  height: 90px;
  margin-bottom: 1.6em;
}

#servicesfromlogoshef .serv-item h4 {
  width: 100%;
  font-size: 20px;
  text-transform: none;
  padding: 10px 2px;
}

#servicesfromlogoshef .col-md-4 {
  padding-left: 40px;
  padding-right: 40px;
}

#servicesfromlogoshef .secondrow {
  margin-top: 50px;
}


@media screen and (max-width: 776px) {
  
  #servicesfromlogoshef .serv-item{
    padding: 40px 0px;
  }
  
  #servicesfromlogoshef .secondrow{
    margin-top: 0px;
  }
  
}