* {
    font-family: 'Roboto', sans-serif;
}
body {
	margin: 0px;
	text-align: center;
}
@media screen and (min-width: 700px) {
	html {
		height: 100%;
	}
	body {
		height: 100%;
	}
	.wrap {
		padding: 50px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 400px;
	}
}
.wrap {
	background : rgba(52, 178, 189, 0.4);
	border-radius : 29px  / 30px;
	-moz-border-radius : 29px  / 30px;
	-webkit-border-radius : 29px  / 30px;
	filter: alpha(opacity=40) progid:DXImageTransform.Microsoft.Alpha(opacity=40) ;
	margin: 20px;
	color: white;
}
img {
	max-width: 100%;
}
a {
	color:white;
	font-size : 25px;
	text-transform : uppercase;
	padding: 5px 25px;
	text-decoration: none;
	background : rgba(52, 178, 189, 1);
	border-radius : 5px  / 9px;
	-moz-border-radius : 5px  / 9px;
	-webkit-border-radius : 5px  / 9px;
	position: absolute;
	left: 0px;
	right: 0px;
	transform: translate(0,50%);
	max-width: 150px;
	margin: 0 auto;
}
@media screen and (max-width: 700px) {
	.wrap {
		padding: 10px;
		width: 80%;
		position: relative;
		margin: 50px auto;
		padding-bottom: 50px;
	}
}