@font-face {
    font-family: "AvenirNextW1G-Medium";
    src: url("../fonts/AvenirNextW1G-Medium.otf") format("opentype");
}

@font-face {
    font-family: "AvenirNextW1G-Demi";
    src: url("../fonts/AvenirNextW1G-Demi.otf") format("opentype");
}

@font-face {
    font-family: "AvenirNextW1G-Regular";
    src: url("../fonts/AvenirNextW1G-Regular.otf") format("opentype");
}

* {
    font-family: "AvenirNextW1G-Medium";
    font-style: normal;
    font-weight: normal;
    color:black;
}

a {
    color: black;
    text-decoration: underline;
}

a.inverse {
    text-decoration: none;
}

a:focus, a:hover {
    color: black;
    text-decoration: none;
}

a.inverse:focus, a.inverse:hover {
    text-decoration: underline;
}
.navbar-brand {
    padding: 5px 0px;
}

.navbar-brand > img {
    height: 100%;
}

.navbar-default {
    background-color: white;
    border-color: transparent;
    box-shadow: rgba(34, 34, 34, 0.7) 0px 0px 8px;
}

.navbar-nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    float: none;
}

.navbar-default .navbar-collapse {
    text-align: center;
}

.navbar-nav a {
    font-weight: 300;
    font-size: 18px;
    font-family: "AvenirNextW1G-Demi";
}

@media (min-width: 768px) {
    .navbar-nav>li {
        float: none;
        display: inline-block;
    }
}

.navbar-default .navbar-nav>li>a {
    color: black;
    transition: all 1s ease-out;
}

.navbar-default .navbar-nav>li>a:hover {
    text-decoration: underline;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
}

#intro {
    background-image: url(../images/hero.png);
    background-size: cover;
}
#intro>div, #intro>div>div, #intro>div>div>div {
    height: 100%;
}
#intro h1{
    color: white;
    position: absolute;
    bottom: 142px;
    right: 109px;
    text-align: left;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 1.65px;
    font-family: "AvenirNextW1G-Demi";
}

.white-doters {
    color: white;
    text-decoration: underline;
}
/*
.white-doters span {
    width: auto;
    float: left;
    color: white;
}
.white-doters span::after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: white;
    display: block;
    margin-top: -5px;
}
*/

#about {
    padding: 100px 0px;
}

#about p {
    font-size: 17px;
    font-family: "AvenirNextW1G-Regular";
    line-height: 1.8;
    margin-bottom: 40px;
}

.right-wrapper {
    padding-top: 25px;
}

.conv-btn {
    font-family: "AvenirNextW1G-Demi";
    color:black;
    font-size: 16px;
    letter-spacing: 1.5px;
}

.conv-btn:after {
    content: '';
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: bottom;
    margin-left: 10px;
}

.conv-btn:hover:after{
    transition: all 1s ease-out;
    margin-left: 15px;
}

.conv-btn:hover,.conv-btn:active,.conv-btn:visited {
    color:black;
}

#advantages {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
    background-image: url(../images/advantages.png);
    background-size: cover;
}

#map-canvas {
    height: 100%;
    background: #f1f1f1;
}

#iw_container .iw_title {
	font-size: 16px;
	font-weight: bold;
}
.iw_content {
	padding: 15px 15px 15px 0;
}

#advantages h2 {
    color:white;
    text-align: left;
}

#advantages>div, #advantages>div>div, #advantages>div>div>div {
    height: 100%;
}

.advantages-info {
    position: absolute;
    bottom: 142px;
    right: 109px;
    font-family: "AvenirNextW1G-Demi";
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 1.25;
}

.left-top-heading {
    font-family: "AvenirNextW1G-Demi";
    margin-top: 0px;
    font-size: 31px;
    line-height: 1.25;
    letter-spacing: 1.55px;
}

.shadow-fow-white-text {
/*    text-shadow: rgba(34, 34, 34, 0.7) 0px 0px 8px;*/
}

.footer-text {
    line-height: 42px;
    font-size: 17px;
    margin-bottom: 0px;
}

footer {
    padding: 80px 0px;
}

#contacts {
    padding: 115px 0px;
}

#contacts h4 {
    font-size: 18px;
    font-family: "AvenirNextW1G-Demi";
    margin-bottom: 15px;
}

#contacts p {
    font-size: 16px;
    font-family: "AvenirNextW1G-Regular";
}

#services {
    padding: 100px 0px;
}
.services-link {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.link-wrapper {
    margin-top: 80px;
}

.black-title {
    line-height: 1.25;
    letter-spacing: 2px;
}

.article-short h1{
    font-size: 17px;
    margin-bottom: 30px;
}


.article-short {
    margin-bottom: 55px;
}

.article-short:last-child {
    margin-bottom: 0px;
}

.article-short time{
    font-size: 17px;
}

.footer-logo {
    float: right;
}

@media (max-width: 768px) {
    .navbar-default .navbar-nav>li>a {
        text-align: left;
    }
    .navbar-brand > img {
        padding-left: 5px;
    }
    #intro h1 {
        left: 0px;
        right: 0px;
        font-size: 20px;
        padding: 0px 10px;
    }
    .advantages-info{
        left: 0px;
        right: 0px;
        font-size: 20px;
        padding: 0px 10px;
        text-align: left;
    }
    .article-short {
        padding: 0px 10px;
    }
    .footer-logo {
        float: none;
        margin-top: 20px;
        margin: 0 auto;
    }
    footer {
        padding: 20px 0px;
    }
    #contacts {
        padding: 20px 0px;
    }
    #contacts p {
        margin-bottom: 40px;
    }
    #services {
        padding: 20px 0px;
    }
    #about {
        padding: 40px 0px;
    }
}